* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

header {
  background: #1f2937;
  /* color: #f9faf8; */
  height: 31em;
  padding: 1em 10em;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rosybrown; */
}

header .navbar .logo {
  font-size: 24px;
  color: #f9faf8;
}

header .menus {
  display: flex;
  list-style: none;
  gap: 20px;
}

header .menus li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
.welcome {
  padding: 7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome .right {
  flex-shrink: 0;
  width: 50%;
}

.hero {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

button {
  padding: 7px 1em;
  width: 120px;
  background-color: #3882f6;
  border-radius: 8px;
}

.welcome button {
  border: none;
}
.secondary,
a:link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
.image {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 215px;
}
